{% extends 'app.html.twig' %}

{% block content %}

  	{% if posts %}
  		<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 mt-7">
  			{% for post in posts %}
        <div class="card card-side bg-white shadow hover:shadow-xl transition-all duration-500">
          <figure><img src="{{ post.illustration }}" alt="Sa grosse tête là"/></figure> {# a remplacer avec la tête de l'utilisateur#}
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p>{{ post.description }}</p>
            <div class="card-actions justify-end">
              <a href="{{ path('app_post_show', { 'id': post.id }) }}" class="btn btn-primary">Voir</a>
            </div>
          </div>
        </div> 
  		  {% endfor %}
  	  </div>
    {% else %}
      <div class="min-h-[100vh]">
        <h1>PAS DE POST !!!</h1>
      </div>
    {% endif %} 
{% endblock %}
