<nav class="md:w-1/3 left-side px-8 py-9 flex-col justify-between hidden md:flex md:py-8 md:px-7 xl:w-2/12">
    <div>
        <div class="flex items-center mb-20">
            <svg
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-2.5"
            >
                <mask
                        id="mask0_0_125"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="48"
                        height="48"
                >
                    <rect width="48" height="48" rx="10" fill="#4F46BA" />
                </mask>
                <g mask="url(#mask0_0_125)">
                    <rect width="48" height="48" rx="10" fill="#4F46BA" />
                    <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M108.434 -33.1587C120.319 -29.2511 124.061 -12.7131 124.396 -0.160654C124.69 10.8456 114.519 18.6792 110.089 28.7813C106.541 36.8718 106.511 46.0432 101.078 53.0108C94.4594 61.4989 86.612 69.7643 76.1759 72.2713C64.6677 75.0359 51.359 74.3711 41.9872 67.2061C32.7788 60.1659 33.8443 46.3294 28.6591 35.943C22.5166 23.6392 7.99586 14.6677 8.88599 0.901685C9.79939 -13.2242 19.5031 -28.9184 33.1033 -32.7878C47.0862 -36.766 58.0304 -17.1379 72.544 -17.2093C85.9304 -17.2752 95.7363 -37.3337 108.434 -33.1587Z"
                            fill="#FDBC64"
                    />
                </g>
            </svg>
            <div>
                <p class="text-base font-bold text-gray-500">Redwhale</p>
                <p class="text-xs font-bold text-slate-400">Growth & Marketing</p>
            </div>
        </div>
        <ul>
            <li class="mb-10">
                <a href="{{ path('app_dashboard') }}" class="flex items-center">
                    <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M9.07874 16.1354H14.8937"
                                stroke="black"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        />
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M2.40002 13.713C2.40002 8.082 3.01402 8.475 6.31902 5.41C7.76502 4.246 10.015 2 11.958 2C13.9 2 16.195 4.235 17.654 5.41C20.959 8.475 21.572 8.082 21.572 13.713C21.572 22 19.613 22 11.986 22C4.35903 22 2.40002 22 2.40002 13.713Z"
                                stroke="black"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        />
                    </svg>
                   <span class="text-base font-semibold ml-3">Dashboard</span>
                </a>
            </li>
            <li class="mb-10">
                <a href="{{path('app_post_index')}}" class="flex items-center">
                    <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <g opacity="0.4">
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.74982 12.7756C2.74982 5.8196 5.06882 3.5016 12.0238 3.5016C18.9798 3.5016 21.2988 5.8196 21.2988 12.7756C21.2988 19.7316 18.9798 22.0496 12.0238 22.0496C5.06882 22.0496 2.74982 19.7316 2.74982 12.7756Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M3.02521 9.32399H21.0332"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M16.4285 13.261H16.4375"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M12.0291 13.261H12.0381"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M7.62142 13.261H7.63042"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M16.4285 17.113H16.4375"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M12.0291 17.113H12.0381"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M7.62142 17.113H7.63042"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M16.033 2.05009V5.31209"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M8.02472 2.05009V5.31209"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                    <span class="text-base font-semibold text-zinc-500 ml-3"
                    >Mes offres</span
                    ></a>
                    <ul class="sous-menu flex items-center ">
                        <a href="{{ path('app_post_new') }}"><li class="mt-3 ml-10">Créer une nouvelle annonce</li></a>
                    </ul>
                </a>
            </li>
            <li class="mb-16">
                <a class="flex items-center">
                    <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <g opacity="0.4">
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M12 9.5C13.3809 9.5 14.5 10.6191 14.5 12C14.5 13.3809 13.3809 14.5 12 14.5C10.6191 14.5 9.5 13.3809 9.5 12C9.5 10.6191 10.6191 9.5 12 9.5Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M20.168 7.25025V7.25025C19.4845 6.05799 17.9712 5.65004 16.7885 6.33852C15.7598 6.93613 14.4741 6.18838 14.4741 4.99218C14.4741 3.61619 13.3659 2.5 11.9998 2.5V2.5C10.6337 2.5 9.52546 3.61619 9.52546 4.99218C9.52546 6.18838 8.23977 6.93613 7.21199 6.33852C6.02829 5.65004 4.51507 6.05799 3.83153 7.25025C3.14896 8.4425 3.55399 9.96665 4.73769 10.6541C5.76546 11.2527 5.76546 12.7473 4.73769 13.3459C3.55399 14.0343 3.14896 15.5585 3.83153 16.7498C4.51507 17.942 6.02829 18.35 7.21101 17.6625H7.21199C8.23977 17.0639 9.52546 17.8116 9.52546 19.0078V19.0078C9.52546 20.3838 10.6337 21.5 11.9998 21.5V21.5C13.3659 21.5 14.4741 20.3838 14.4741 19.0078V19.0078C14.4741 17.8116 15.7598 17.0639 16.7885 17.6625C17.9712 18.35 19.4845 17.942 20.168 16.7498C20.8515 15.5585 20.4455 14.0343 19.2628 13.3459H19.2618C18.2341 12.7473 18.2341 11.2527 19.2628 10.6541C20.4455 9.96665 20.8515 8.4425 20.168 7.25025Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                    <span class="text-base font-semibold text-zinc-500 ml-3"
                    >Profil</span
                    >
                </a>
            </li>
        </ul>
        <hr class="mb-5" />
        <div class="flex justify-between mb-8">
            <p class="flex items-center">
                <span class="text-base font-semibold">Post</span>
                <svg
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="ml-3"
                >
                    <path
                            d="M0 -4.15258e-07L9.5 0L5 7L0 -4.15258e-07Z"
                            fill="black"
                    />
                </svg>
            </p>
            <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M12.625 11.3203H15.7969V12.6875H12.625V16.2812H11.1719V12.6875H8V11.3203H11.1719V8H12.625V11.3203Z"
                        fill="#A0A0A0"
                />
                <circle cx="12" cy="12" r="11.5" stroke="#A0A0A0" />
            </svg>
        </div>
        <ul>
            <li class="mb-5">
                <a class="flex items-center">
                    <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <g opacity="0.4">
                            <path
                                    d="M8.44025 12.0001L10.8142 14.3731L15.5602 9.6271"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.74982 12.0001C2.74982 18.9371 5.06282 21.2501 11.9998 21.2501C18.9368 21.2501 21.2498 18.9371 21.2498 12.0001C21.2498 5.0631 18.9368 2.7501 11.9998 2.7501C5.06282 2.7501 2.74982 5.0631 2.74982 12.0001Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                    <span class="text-base font-semibold text-zinc-500 ml-3"
                    >Published</span
                    >
                </a>
            </li>
            <li class="mb-5 flex justify-between items-center">
                <a class="flex items-center">
                    <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <g opacity="0.4">
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M2.75012 12.0001C2.75012 18.9371 5.06312 21.2501 12.0001 21.2501C18.9371 21.2501 21.2501 18.9371 21.2501 12.0001C21.2501 5.0631 18.9371 2.7501 12.0001 2.7501C5.06312 2.7501 2.75012 5.0631 2.75012 12.0001Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    d="M15.3902 14.0181L11.9992 11.9951V7.6341"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                    <span class="text-base font-semibold text-zinc-500 ml-3"
                    >Today's Scheduled</span
                    >
                </a>
                <button class="border-1 text-zinc-500 rounded-full border-2 px-2">
                    +2
                </button>
            </li>
            <li class="mb-12">
                <a class="flex items-center">
                    <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <g opacity="0.4">
                            <path
                                    d="M8.54242 9.2177H15.3974"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                            <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M11.9702 2.5C5.58324 2.5 4.50424 3.432 4.50424 10.929C4.50424 19.322 4.34724 21.5 5.94324 21.5C7.53824 21.5 10.1432 17.816 11.9702 17.816C13.7972 17.816 16.4022 21.5 17.9972 21.5C19.5932 21.5 19.4362 19.322 19.4362 10.929C19.4362 3.432 18.3572 2.5 11.9702 2.5Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                            />
                        </g>
                    </svg>
                    <span class="text-base font-semibold text-zinc-500 ml-3"
                    >Bookmarks</span
                    >
                </a>
            </li>
        </ul>
        <hr class="mb-6" />
        <div class="flex justify-between mb-8">
            <p class="flex items-center">
                <span class="text-base font-semibold">Favorite Users</span>
                <svg
                        width="7"
                        height="10"
                        viewBox="0 0 7 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="ml-3"
                >
                    <path d="M0 9.5V0L7 4.5L0 9.5Z" fill="black" />
                </svg>
            </p>
            <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M12.625 11.3203H15.7969V12.6875H12.625V16.2812H11.1719V12.6875H8V11.3203H11.1719V8H12.625V11.3203Z"
                        fill="#A0A0A0"
                />
                <circle cx="12" cy="12" r="11.5" stroke="#A0A0A0" />
            </svg>
        </div>
    </div>
    <button class="flex items-center">
        <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    d="M8.30461 5.61321H14V7.92453H8.30461V14H5.69539V7.92453H0V5.61321H5.69539V0H8.30461V5.61321Z"
                    fill="#696969"
            />
        </svg>
        <span class="ml-3 text-base font-semibold">Invite new member</span>
    </button>
</nav>